<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small>
        <hr>
        <p>{{postagem.conteudo}}</p>
        <hr>
        
        {{#if postagem.img}}
            <h3>Arquivos: </h3>
        {{else}}
        {{/if}}
        
        {{#each postagem.img}}
    <!--SE FOR IMAGEM-->
            
            {{#if (eq this.tipo 'img') }}
                <img src="/imagem/{{this.id}}" style="width: 100px;"><br>
            {{else}}

    <!--SE FOR PDF-->

            {{#if (eq this.tipo 'pdf')}}
                
                <embed src="/pdf/{{this.id}}" type="application/pdf" width="100%" height="500px" /><br>
            {{else}}

    <!--SE FOR DOCX-->

            {{#if (eq this.tipo 'word')}}
                

                <a href="/download/{{this.id}}"><small>{{this.nome}}</small></a><br>
            {{else}}

    <!--SE FOR AUDIO-->
    
            {{#if (eq this.tipo 'audio')}}
                <audio controls>
                    <h3>{{this.nome}}</h3>
                    <source src="/audio/{{this.id}}" type="audio/mp3">
                    Seu navegador não suporta a tag de áudio.
                </audio><br>
            {{else}}



            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
        {{/each}}
        

        
    </div>
</div>

