<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small>
        <hr>
        <p>{{postagem.conteudo}}</p>
        <hr>
        
        {{#if postagem.img}}
            <h3>Arquivos: </h3>
        {{else}}
        {{/if}}
        
        {{#each postagem.img}}
    <!--SE FOR IMAGEM-->
            
            {{#if (eq this.tipo 'img') }}
                <h5>{{findNome this.nome '_'}}</h5>
                <img src="/imagem/{{this.id}}" style="width: 100px;"><br>
            {{else}}

    <!--SE FOR PDF-->

            {{#if (eq this.tipo 'pdf')}}
                <h5>{{findNome this.nome '_'}}</h5>
                <embed src="/pdf/{{this.id}}" type="application/pdf" width="100%" height="500px" /><br>
            {{else}}

    <!--SE FOR DOCX-->

            {{#if (eq this.tipo 'word')}}
                
                <h2>WORD</h2>
                <a href="/download/{{this.id}}">{{findNome this.nome '_'}}</a>

            {{else}}

    <!--SE FOR AUDIO-->
    
            {{#if (eq this.tipo 'audio')}}
                <audio controls>
                    <h5>{{findNome this.nome '_'}}</h5>
                    <source src="/audio/{{this.id}}" type="audio/mp3">
                    Seu navegador não suporta a tag de áudio.
                </audio><br>
            {{else}}

    <!--SE FOR EXCEL-->
            {{#if (eq this.tipo 'excel')}}
                <h2>EXCEL</h2>
                <a href="/download/excel/{{this.id}}">{{findNome this.nome '_'}}</a>
            {{else}}
  <!--txt-->  
            {{#if (eq this.tipo 'texto')}}
                <h5>Arquivo de texto: <a href="/download/txt/{{this.id}}">{{findNome this.nome '_'}}</a></h5>
                <h5>{{findNome this.nome '_'}}:</h5>
                <pre style="border: 1px solid black;">
                    
                    {{this.dados}}
                </pre>
                
            {{else}}

            {{#if (eq this.tipo 'video')}}
            
            <a href="/videos/download/{{this.id}}"><h5>{{findNome this.nome '_'}}:</h5></a>
                <video controls style="width: 90%;">
                
                <source src="/video/{{this.id}}" type="video/mp4">
                Seu navegador não suporta a tag de vídeo.
            </video><br>
            {{else}}
            

            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
        {{/each}}
        

        
    </div>
</div>

