<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small>
        <hr>
        <p>{{postagem.conteudo}}</p>
        <hr>
        
        
        {{#each postagem.img}}
    <!--SE FOR IMAGEM-->

            {{#if (eq this.tipo 'img') }}
                <img src="/imagem/{{this.id}}" style="width: 100px;">
            {{else}}

    <!--SE FOR PDF-->

            {{#if (eq this.tipo 'pdf')}}
                <h3>Arquivos: </h3>
                <embed src="/pdf/{{this.id}}" type="application/pdf" width="100%" height="500px" />
            {{else}}

    <!--SE FOR DOCX-->

            {{#if (eq this.tipo 'word')}}
                <h5>Arquivo Word: </h5>

                <a href="/download/{{this.id}}"><small>{{this.nome}}</small></a>
            {{else}}

    <!--SE FOR AUDIO-->
    
            {{#if (eq this.tipo 'audio')}}
                <h3>Arquivos: <small>audio</small></h3>
                <audio controls>
                    <source src="/audio/{{this.id}}" type="audio/mp3">
                    Seu navegador não suporta a tag de áudio.
                </audio>
            {{else}}



            {{/if}}
            {{/if}}
            {{/if}}
        {{/if}}
        {{/each}}
        

        
    </div>
</div>