<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-6 fw-bold">Gest. Conhecimento</h1>
        <!--SÓ APARECE SE O USUARIO ESTIVER DESLOGADO // ESSA VARIAVEL USER VEM LA VARIAVEL GLOBAL FLASH USER-->
        {{#if user}}
        <h2>Seja bem vindo {{user.nome}}</h2>
        {{else}}
        {{/if}}
        <p class="col-md-8 fs-5">Um sistema de blog simples com Node e MongoDB</p>
        <a href="/login"><button class="btn btn-primary btn-lg" type="button">Login</button></a>
    </div>
</div>

<h3>Postagens recentes:</h3>
<div class="grid text-center">
    <div>
        <label>PESQUISE ALGO</label>
        <input type='text' class="pesquisa">
        <button class="pesquisaProfunda">PESQUISAR EM DOCUMENTOS</button>
    </div>
    <div class="outputPesquisa">

    </div>
</div>
<hr>

{{#each postagens}}

<div class="card mt-4">
    <div class="card-body">
        <div class="alertaUser"></div>
        <h4 class="titulo">{{titulo}}</h4>
        <p class="descricao">{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <textarea class="conteudo" style="display: none;">{{conteudo}}</textarea>
        
        <small><strong>Data:</strong> {{dateFormat data}}</small><br>
        <small><strong>Categoria:</strong> {{categoria.nome}}</small><br>
        <strong>Autor:</strong>
        <small class="autor"> <label>{{autor}}</label></small>
    </div>
</div>
{{else}}

<h5>Nenhum post registrado!</h5>
{{/each}}

<script type="module" src="../public/js/scripts.js"></script>