<h1>{{categoria.nome}}</h1>
{{#each postagens}}

<div class="card mt-4">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <p> {{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small><strong>Data:</strong> {{data}}</small><br>
        <small><strong>Autor:</strong> {{autor}}</strong></small>
    </div>
</div>
{{else}}

<h5>Nenhum post registrado!</h5>
{{/each}}