<h2>Lista de categorias:</h2>
<hr>
<a href="/cadastrar"><button class="btn btn-success">Nova categoria</button></a>
<a href="/postagens"><button class="btn btn-success">Ver Posts</button></a>

{{#each categorias}}

<div class="card mt-4">
    <div class="card-body">
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small><br>
            <small>Data: {{date}}
            </small>
        <br>
            <a href="/categorias/edit/{{id}}"><button class="btn btn-success mt-4">Editar Categoria</button></a>
            <form action="/categoria/delete" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Deletar Categoria</button>
            </form>
    </div>
</div>


{{else}}
    <h4 class="mt-3">Nenhuma categoria registrada! </h4>
{{/each}}