<!--Se existir erros exibe a mensagem que vem do backend-->

{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<h3>Editar Post: </h3>
<div class="card">
    <div class="card-body">
        <form method="post" action="/postagens/edit" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{postagem.id}}">
            <label>Título</label>
            <input type="text" placeholder="Título da matéria" name="titulo" class="form-control"
                value="{{postagem.titulo}}" required>
            <br>
            <label>Descrição</label>
            <input type="text" placeholder="Descricao" name="descricao" class="form-control"
                value="{{postagem.descricao}}" required>
            <br>
            <p>Conteudo:</p>
            <textarea name="conteudo" class="form-control">{{postagem.conteudo}}</textarea>
            <br>


            <div>
                <h2>DOCS:</h2>
                <a href="#" id="exibeDocs">Exibir documentos..</a>
                <div class="documentos" style="display: none;">

                    <h4>Adicionar novos documentos: </h4>
                    <input type="file" placeholder="Descricao" name="file" class="form-control" multiple>
                    <br>
                    {{#each postagem.img}}



                    <!--SE FOR IMAGEM-->
                    {{#if (eq this.tipo 'img') }}
                    <h5>{{findNome this.nome '_'}}</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{this.id}}" id="flexCheckDefault" name="checkbox[]">
                        <label class="form-check-label" for="flexCheckDefault">
                            Deletar Documento
                        </label>
                    </div>
                    <img src="/imagem/{{this.id}}" style="width: 100px;"><br>
                    <input type="hidden" name="img" value="{{this.id}}">
                    {{else}}

                    <!--SE FOR PDF-->

                    {{#if (eq this.tipo 'pdf')}}
                    <h5>{{findNome this.nome '_'}}</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{this.id}}" id="flexCheckDefault" name="checkbox[]">
                        <label class="form-check-label" for="flexCheckDefault">
                            Deletar Documento
                        </label>
                    </div>
                    <embed src="/pdf/{{this.id}}" type="application/pdf" width="100%" height="500px" /><br>
                    <input type="hidden" name="img" value="{{this.id}}">
                    {{else}}

                    <!--SE FOR DOCX-->

                    {{#if (eq this.tipo 'word')}}
                    <h2>WORD</h2>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{this.id}}" id="flexCheckDefault" name="checkbox[]">
                        <label class="form-check-label" for="flexCheckDefault">
                            Deletar Documento
                        </label>
                    </div>

                    
                    <a href="/download/{{this.id}}"><small>{{findNome this.nome '_'}}</small></a><br>
                    <input type="hidden" name="img" value="{{this.id}}">
                    {{else}}

                    <!--SE FOR AUDIO-->

                    {{#if (eq this.tipo 'audio')}}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{this.id}}" id="flexCheckDefault" name="checkbox[]">
                        <label class="form-check-label" for="flexCheckDefault">
                            Deletar Documento
                        </label>
                    </div>
                    <audio controls>
                        <h5>{{findNome this.nome '_'}}</h5>
                        <source src="/audio/{{this.id}}" type="audio/mp3">
                        Seu navegador não suporta a tag de áudio.
                    </audio><br>
                    <input type="hidden" name="img" value="{{this.id}}">
                    {{else}}
                    

                    {{#if (eq this.tipo 'excel')}}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{this.id}}" id="flexCheckDefault" name="checkbox[]">
                        <label class="form-check-label" for="flexCheckDefault">
                            Deletar Documento
                        </label>
                    </div>
                        <h2>EXCEL</h2>
                        <a href="/download/excel/{{this.id}}">{{findNome this.nome '_'}}</a>
                    {{else}}

                    {{/if}}
                    {{/if}}
                    {{/if}}
                    {{/if}}
                    {{/if}}
                    {{/each}}

                </div>
            </div>
            <br>


            <p class="mt-3">Categoria:</p>
            <select name="categoria" class="form-select form-select-sm">

                {{#each categorias}}
                <option value="{{_id}}">{{nome}}</option>
                {{else}}
                <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <br>
            <button type="submit" class="btn btn-success mt-4">Editar postagem</button>






        </form>


    </div>
</div>







<script>
    //FUNÇÃO PARA ATUALIZAR A OPÇÃO CATEGORIA
    function atualizaSel() {
        var categoria = document.getElementById("categoria")
        var option1 = document.getElementsByTagName("option")
        var id_sel = "{{postagem.categoria._id}}"

        for (var i = 0; i < option1.length; i++) {
            if (option1[i].value == id_sel) {
                option1[i].setAttribute("selected", "true")
            }
        }
    }

    atualizaSel()

    document.querySelector('#exibeDocs').addEventListener('click', () => {
        Splitado()
    })
    function Splitado() {
        var div = document.querySelector('.documentos')
        if (div.style.display == 'none') {
            div.style.display = 'block';
        } else if (div.style.display == 'block') {
            div.style.display = 'none'
        }


    }
</script>